{% extends "admin/base_site.html" %}
{% block content %}
<h1>📥 Download Data</h1>

<form method="post" novalidate>
    {% csrf_token %}
    <p>
        {{ form.from_date.label_tag }}<br>
        {{ form.from_date }}
    </p>
    <p>
        {{ form.to_date.label_tag }}<br>
        {{ form.to_date }}
    </p>
    <p>
        {{ form.data_type.label_tag }}<br>
        {{ form.data_type }}
    </p>

    <button type="submit" class="button default">Download ZIP</button>
</form>

<br>
<a class="button" href="{% url 'admin:backend-functions' %}">⬅️ Back to Backend Functions</a>
{% endblock %}
